.categories {
  display: flex;
  height: 100vh;
  gap: 10px;
  margin: 10px;

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .col-l {
    flex: 2;
  }

  .row {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;

    button {
      position: absolute;
      height: 50px;
      width: fit-content;
      top: 0;
      bottom: 5;
      right: 5;
      margin: auto;
      cursor: pointer;
      font-weight: 600;
      border: none;
      background-color: transparent;
      background-color: rgba(243, 17, 17, 0.929);
      border-radius: 100%;
      text-transform: uppercase;
      color: #fff;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
